<nav>
    <h1>Schedulio</h1>

    <ul class="navigation">
        <li><a href="Index.cshtml" class="nav-link">Home</a></li>
        <li><a href="#r" class="nav-link">Register</a></li>
        <li><a href="EmployerLogin.cshtml" class="nav-link">Login</a></li>
    </ul>

</nav>

